{# <div class="image-block-wrapper {{ section.useSpecialBackground ? "special" : "" }}">


	<div class="container image-block">
		{% if section.image != null %}
			{{ section.image.tag("big-image", section.imageDescription)|raw }}
		{% else %}
			<div class="big-image">
				{{ section.getMedia().getEmbedCode()|raw }}
			</div>
		{% endif %}
		<div class="block-content">
			{{ section.content|raw }}
		</div>
	</div>
</div>
#}

<section class="space-ptb">
	<div class="container">
		<div class="row align-items-center">
			<div
				class="col-lg-6">
				{# <img class="img-fluid" src="images/chef.jpg"> #}
				{{ section.image.tag("big-image", section.imageDescription)|raw }}


</div>

{{ section.content|raw }}</div></div></section>

