<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-NZ" class="{{ page.pageType|replace({' ': "-"}) }}">
	<head>
		{% block meta_data %}
			<title>{{ page.getPageTitle() }}</title>
			<meta name="description" content="{{ page.getMetaDescription() }}" />
		{% endblock %}
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		{% if config.googleSiteVerification != '' %}
			<meta name="google-site-verification" content="{{ config.googleSiteVerification }}">
		{% endif %}
		{% block canonical_link %}
			{% if originalPage.isDuplicate %}
				<link rel='canonical' href='{{ constant('PROTOCOL') ~ constant('SITE_ROOT') ~ originalPage.original.path }}' />
			{% else %}
				<link rel='canonical' href='{{ controller.generateCanonicalUrl() }}' />
			{% endif %}
		{% endblock %}
		{# get fonts early to reduce content flash. Still need set in _setup.css as well #}
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
		<script type="text/javascript">
			// add this immediately so elements which are initially hidden based on presence of javascript don't 'flash'
			(function(){let node=document.documentElement; node.setAttribute('class', node.getAttribute('class') + ' javascript')})()
		</script>
		{% block styles %}
			{# Load stylesheets first for speed. Load all plugin stylesheets before local stylesheet to allow overrides with minimum declarations #}
			<link rel="stylesheet" type="text/css" href="/node_modules/foxy/src/foxy.css" />
			<link rel="stylesheet" type="text/css" href="/node_modules/lightgallery/css/lightgallery-bundle.min.css" />
			<link rel="stylesheet" type="text/css" href="/node_modules/featherlight/release/featherlight.min.css" />
			<!--suppress HtmlUnknownTarget -->
			<link rel="stylesheet" type="text/css" href="/theme/style.css" />
		{% endblock %}
		{% if config.favicon != null %}
			{% include "template/sections/favicon.twig" %}
		{% endif %}
		{% block scripts %}
			{# {% do script.add("/node_modules/jquery/dist/jquery.min.js") %} #}
			{% do script.add("/theme/scripts/jquery-3.6.0.min.js") %}
			{% do script.add("/node_modules/js-cookie/dist/js.cookie.js") %}
			{% do script.add("/theme/scripts/validation.js") %}
			{% do script.add("/node_modules/lightgallery/lightgallery.min.js") %}
			{% do script.add("/node_modules/lightgallery/plugins/thumbnail/lg-thumbnail.min.js") %}
			{% do script.add("/node_modules/featherlight/release/featherlight.min.js") %}
			{% do script.add("/theme/scripts/featherlight-mouseup-fix.js") %}
			{% do script.add("/node_modules/foxy/src/scripts/Foxy.js") %}
			{% do script.add("/node_modules/foxy/src/scripts/Fennecs.js") %}

			{% if 'HOVER_CART' is enabled %}
				{% do script.add("/theme/scripts/hover-cart.js") %}
			{% endif %}

			{% do script.add("/theme/scripts/script.js") %}

			{% if constant('GOOGLE_MAPS_API') != "" %}
				{% set scriptUrl = 'https://maps.googleapis.com/maps/api/js?key=' ~ constant('GOOGLE_MAPS_API') %}

				{% if 'SHIPPING' is enabled %}
					{# Note, this must be loaded before the Google Maps crap gets loaded, so we load it separately from everything else #}
					<script type='text/javascript' src='/theme/scripts/auto-address.js'></script>
					{% set scriptUrl = scriptUrl ~ '&libraries=places&callback=initAutocomplete' %}
				{% endif %}

				<script type="text/javascript" src="{{ scriptUrl }}"></script>
			{% endif %}

			{% if config.analyticsId != '' %}
				{% include 'template/sections/google-analytics.twig' %}
			{% endif %}
			{% do script.add("/theme/scripts/bootstrap/bootstrap.min.js") %}
			{% do script.add("/theme/scripts/fontawesome/all.min.js") %}
			{% do script.add("/theme/scripts/custom.js") %}
			{% if config.tagManagerId != '' %}
				{% include 'template/sections/google-tag-manager.twig' %}
			{% endif %}
			
			{% if config.recaptchaSiteKey != '' and config.recaptchaSecret != '' %}
				<script src="https://www.google.com/recaptcha/api.js" async defer></script>
			{% endif %}
		{% endblock %}
	</head>
	<body>
<!--=================================
        Header -->
<header class="min-header">
	<div class="topbar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>Free delivery for orders over $150 within Christchurch</p>
				</div>
			</div>
		</div>
	</div>
	<div class="header">
		<nav class="navbar navbar-static-top navbar-expand-lg">
			<div class="container-fluid main-header position-relative">
				<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
					<i class="fas fa-align-left"></i>
				</button>
				<a class="navbar-brand" href="{{ homePath }}">
					<img class="img-fluid logo" src="/theme/images/logo.png" alt="{{ config.getSiteName() }}">
					<img class="img-fluid sticky-logo" src="/theme/images/sticky-logo.png" alt="{{ config.getSiteName() }}">
				</a>
				<div class="header-menu">
					<div class="navbar-collapse collapse justify-content-center">
						<ul class="nav navbar-nav">
							{% include "template/sections/navigation.twig" with {
															"navItems": navItems,
															"currentDepth": 1,
															"maxDepth": 2,
															"currentNavItem": currentNavItem
														} only %}
							

						</ul>
					</div>
				</div>
				<div class="add-listing">
					<ul class="nav navbar-nav">
						{% include 'template/sections/search-form.twig' %}
						{% include 'template/sections/account-navigation.twig' %}
						{% include 'template/sections/cart-navigation.twig' %}
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>
		<main>
			{% block content_banner %}
				{% include 'template/sections/top-banner.twig' %}
			{% endblock %}
			{% block content_wrapper %}
				<section class="content-wrapper">
					<div class="container content">
						{% block notifications %}
							{% if message != '' %}
								<p class="message">
									{{ message|raw }}
								</p>
							{% endif %}
						{% endblock %}
						{% block content %}{% endblock %}
					</div><!-- end content -->
				</section>
				{% block page_sections %}
					{% for section in page.getVisiblePageSections() %}
						{% include section.getTemplateLocation() %}
					{% endfor %}
				{% endblock %}
			{% endblock %}
		</main>
<!--=================================
        footer-->
{% include 'template/sections/newslettter.twig' %}

<footer class="footer">
	<div class="min-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12 text-center text-md-center order-md-2">
					<a class="footer-logo" href="index.html">
						<img class="img-fluid" src="/theme/images/footer-logo.png" alt="logo">
						<h3 class="footer-logo-title mt-5">Life is  getting a whole lot better!</h3>
					</a>
				</div>
				<div class="col-md-4 col-sm-12 mt-5 mt-md-0 order-md-1">
					<div class="footer-link text-center text-md-start">
						<h3 class="footer-title">Meet Our Meat</h3>
						<div class="footer-contact-info text-center text-md-start">
							<ul class="list-unstyled mb-0">
								<li class="justify-content-center justify-content-md-start">
									<a href="#">About Us</a>
								</li>
								<li class="justify-content-center justify-content-md-start">
									<a href="#">Adventures Await</a>
								</li>
								<li class="justify-content-center justify-content-md-start">
									<a href="#">Meet Deets (FAQ)</a>
								</li>
								<li class="justify-content-center justify-content-md-start">
									<a href="#">Shop Meats</a>
								</li>
								<li class="justify-content-center justify-content-md-start">
									<a href="/our-partners">Our Partners</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 mt-5 mt-md-0 text-start text-md-end order-md-3">
					<div class="footer-link text-center text-md-end">
						<h3 class="footer-title">Customer Service</h3>
						<div class="footer-contact-info">
							<ul class="list-unstyled mb-0">
								<li class="justify-content-center justify-content-md-end">info@meetourmeat.co.nz</li>
								<li class="justify-content-center justify-content-md-end">
									<a href="/contact-us">Contact Us</a>
								</li>
								<li class="justify-content-center  justify-content-md-end">
									<a href="#">Account</a>
								</li>
								<li class="justify-content-center justify-content-md-end">
									<a href="#">Privacy Policy</a>
								</li>
								<li class="justify-content-center justify-content-md-end">
									<a href="#">Refund Policy</a>
								</li>
								<li class="justify-content-center justify-content-md-end">
									<a href="#">Shipping and Delivery</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row align-items-center copyright">
				<div class="col-12 col-md-3 mb-3 mb-md-0 text-center text-md-start">
					<p class="mb-0">© {{ config.getSiteName() }}</p>
				</div>
				<div class="col-12 col-md-6 mb-3 mb-md-0 text-center">
					<ul class="social-icons list-unstyled list-inline mb-0">
						<li class="list-inline-item">
							<a href="#">
								<i class="fa-brands fa-facebook-f"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<i class="fa-brands fa-twitter"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<i class="fa-brands fa-instagram"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-12 col-md-3 text-center text-md-end">
					<p>Web Design by Activate</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--=================================
        footer-->

		{{ script.output()|raw }}
		{# Below is a completely nonsensical fix for a range of bonkers page load display issues in Chrome and Firefox #}
		<script> </script>
	</body>
</html>
