{# {% if banner.title != '' %}
	<h2 class="title">{{ banner.title|nl2br }}</h2>
{% endif %}
{% if banner.text != '' %}
	<p class="tagline">{{ banner.text|nl2br }}</p>
{% endif %}
{% if banner.link != '' %}
	<a href="{{ banner.link }}" class="button">{{ banner.button }}</a>
{% endif %} #}

{% if banner.title != '' %}

	<div class="row justify-content-start">
		<div class="col-xl-8 col-lg-12">
			<div class="banner-info">
				<h1 class="text-white text-start">{{ banner.title|nl2br }}
					<span class="mt-1">{{ banner.text|nl2br }}</span>
				</h1>
				<a class="btn mt-3" href="#">SHOP OUR MEATS</a>
			</div>
		</div>
	</div>

{% endif %}

