{% set bannerAsBackground = false %}
{{dump(breadcrum)}}

{% if banners|length > 0 %}
	<section class="slideshow">
		<div class="foxy slider">
			{% for banner in banners %}
				{# Ignore banners without images #}
				{% if banner.getLargeImage() != null %}
					{% set caption = banner.getCaption()|trim %}
					{% if bannerAsBackground %}
						<figure class="slide" >
							{% if banner.getSmallImage() != null %}
								<div class="small-screen background-image" style="background-image: url('{{ banner.getSmallImage().getLink() }}')"></div>
							{% endif %}
							<div class="big-screen background-image" style="background-image: url('{{ banner.getLargeImage().getLink() }}')"></div>
							{% if caption != '' %}
								<figcaption class="caption container">
									<div class="caption-content">
										{{ caption|raw }}
									</div>
								</figcaption>
							{% endif %}
						</figure>
					{% else %}
						<figure class="slide">
							<picture>
								<source srcset="{{ banner.getLargeImage().getLink() }}" media="(min-width: {{ constant('RESPONSIVE_IMAGE_WIDTH', banner) + 1 }}px)" />
								{% if banner.getSmallImage() != null %}
									<source srcset="{{ banner.getSmallImage().getLink() }}" />
								{% endif %}
								<img src="{{ banner.getLargeImage().getLink() }}" alt="" />
							</picture>
							{% if caption != '' %}
								<figcaption class="caption container">
									<div class="caption-content">
										{{ caption|raw }}
									</div>
								</figcaption>
							{% endif %}
							{%	if breadcrum %}
							<div class="container">
								<div class="row justify-content-start">
									<div class="col-lg-6">
										<nav aria-label="breadcrumb">
											<ol class="breadcrumb position-absolute bottom-0">
												<li class="breadcrumb-item">
													<a href="https://www.meat.adev.co.nz">Home</a>
												</li>
											
												{% set last =  breadcrum|length %}
												{% for key,crum in breadcrum %}
													{%	if key == last - 1 %}
														<li class="breadcrumb-item active" aria-current="page">{{crum}}</li>

													{% else %}
														<li class="breadcrumb-item">
															<a href="#">{{crum}}</a>
														</li>
													{%	endif %}
														
												{% endfor %}

											</ol>
										</nav>
									</div>
								</div>
							</div>

							{% endif %}
						</figure>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</section>
{% endif %}
