{% extends 'products/sections/base-page.twig' %}

{# some designs only have the add to cart button (quantity always = 1) This is a quick toggle for the product-actions form generating code #}
{% set showQuantityField = false %}

{% block meta_data %}
	<title>{{ product.getPageTitle() }}</title>
	<meta name="description" content="{{ product.getMetaDescription() }}" />
{% endblock %}

{% block canonical_link %}
	<link rel="canonical" href="{{ product.getCanonicalLink() }}" />
{% endblock %}

{% block content_title %}
	<h1>{{ product.getMainHeading() }}</h1>
{% endblock %}

{% block products_content %}
	{% set pricedOptions = product.pricedOptionGroup.getOptions() %}
	{% set addUrl = "/Cart/Action/Add/" ~ controller.callStatic('Products\\Product', 'getClassLineItemGeneratorIdentifier') ~ "/" ~ product.getLineItemGeneratorIdentifier() ~ "/" %}
	{% if pricedOptions %}
		{% set addUrl = "/Cart/Action/Add/" ~ controller.callStatic('Products\\Options\\PricedProductOption', 'getClassLineItemGeneratorIdentifier') ~ "/" %}
	{% endif %}
	<div class ="row">
		<div class="col-lg-6 col-md-12">
			<span class="text-primary">{{ product.getPrice()|formatPrice }}</span>

			<p>The mouth-watering Grade 5 Angus beef sourced from Pure Nature Pastures melts in your mouth after you have effortlessly cut it with your fork.</p>
			<form class="row mt-3">
					<div class="col-md-3">
						<label for="formFile" class="form-label">Weight</label>
						<select class="form-select">
							<option selected>250g</option>
							<option value="1">250g</option>
							<option value="2">250g</option>
							<option value="3">250g</option>
						</select>
					</div>
					<div class="col-md-3 mt-3 mt-md-0">
						<label for="formFile" class="form-label">Quantity</label>
						<select class="form-select" aria-label="Default select example">
							<option selected>1</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
					<div class="col-md-2 mt-3 mt-md-0">
						<label for="formFile" class="form-label">Price</label>
						<span class="price">$47.90</span>
					</div>
					<div class="col-md-4 mt-3 mt-md-0 d-flex align-items-end">
						<a href="#" class="btn btn-primary">Add To Cart</a>
					</div>
				</form>
			<p class="text-primary mt-3 mb-5">1 in stock (can be backordered)</p>
			<div class="accordion accordion-flush pt-5 border-top" id="accordionFlushExample">
				<div class="accordion-item mb-2">
					<h2 class="accordion-header" id="flush-headingOne">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
							Description
						</button>
					</h2>
					<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
						<div class="accordion-body">
							Rough leg meat best slow cooked to make dishes like osso buco. Leg it in to trying a Leg shank today. We supply this in various pack sizes for your convenience.
						</div>
					</div>
				</div>
				<div class="accordion-item mb-2">
					<h2 class="accordion-header" id="flush-headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
							Additional Information
						</button>
					</h2>
					<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">Rough leg meat best slow cooked to make dishes like osso buco. Leg it in to trying a Leg shank today. We supply this in various pack sizes for your convenience.</div>
					</div>
				</div>
				<div class="accordion-item mb-2">
					<h2 class="accordion-header" id="flush-headingThree">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
							Reviews
						</button>
					</h2>
					<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">Rough leg meat best slow cooked to make dishes like osso buco. Leg it in to trying a Leg shank today. We supply this in various pack sizes for your convenience.</div>
					</div>
				</div>
			</div>
		

		</div>
		<div class="col-lg-6 col-md-12 mt-5 mt-lg-0">
			<div class="left-btn mb-5 d-flex justify-content-end">
				<a href="#"><i class="fa-solid fa-arrow-left me-3"></i>Back to Angus Beet</a>
			</div>
			<div class="product-img d-flex justify-content-end">
				{# <img class="img-fluid" src="images/meet-product.png"> #}
				{% set images = product.getVisibleImages() %}
				{% if images and images[0].image %}
					{% set image = images[0] %}
					<a class="main-image image js-main-image" href="{{ image.image.getLink() }}" data-src="{{ image.image.getLink() }}" data-thumb="{{ image.thumbnail.getLink() }}" >
						{{ image.thumbnail.tag('', image.imageAltText)|raw }}
					</a>
				{% endif %}
			</div>
		</div>
	</div>
	
	<div class="product-images js-product-images">
		{% set images = product.getVisibleImages() %}
		{% if images and images[0].image %}
			{% set image = images[0] %}
			<a class="main-image image js-main-image" href="{{ image.image.getLink() }}" data-src="{{ image.image.getLink() }}" data-thumb="{{ image.thumbnail.getLink() }}" >
				{{ image.thumbnail.tag('', image.imageAltText)|raw }}
			</a>
		{% endif %}

		{% if images|length > 1 %}
			<div class="small-images js-small-images">
				{% for image in images %}
					<a class="small-image image js-small-image" href="{{ image.image.getLink() }}" data-src="{{ image.image.getLink() }}" data-thumb="{{ image.thumbnail.getLink() }}">
						{{ image.thumbnail.tag('', image.imageAltText)|raw }}
					</a>
				{% endfor %}
				</div>
			</div>
		{% endif %}
		<div class="col-2 product-details">

			<p class="js-product-price">
				{% if pricedOptions %}
					{{ pricedOptions[0].getPrice()|formatPrice }}
				{% else %}
					{{ product.getPrice()|formatPrice }}
				{% endif %}
			</p>

			{{ product.content|raw }}

			{% set tabs = product.getVisibleTabs() %}
			{% if tabs %}
				<div class="tab-nav">
					{% for tab in tabs %}
						<a class="js-tab-link {% if loop.index == 1 %}active{% endif %}" href="#tab-{{ tab.id }}">{{ tab.name }}</a>
					{% endfor %}
				</div>
				{% for tab in tabs %}
					<div class="tab js-tab {% if loop.index == 1 %}active{% endif %}" id="tab-{{ tab.id }}">
						{{ tab.content|raw }}
					</div>
				{% endfor %}
			{% endif %}

			<div class="product-actions">
				{% if constant('DO_ENQUIRY_FORM', product) %}
					<a class="button js-open-form" href="#enquire">Enquire Now</a>
					<div class="popup-form-wrapper">
						<div id="enquire">
							<h3>{{ product.name }}</h3>
							{{ product.outputEnquiryForm()|raw }}
						</div>
					</div>
				{% endif %}

				{% if 'CART' is enabled %}
					<form class="js-add-to-cart-form add-to-cart custom-form" action="{{ addUrl }}" method="post">
						{% if pricedOptions %}
							<p>
								<label class="select-wrapper">
									<span class="label">{{ product.pricedOptionGroup.name }}</span>
									<span class="field">
										{# The name attribute is just "id" here, so it's consistent with the URL scheme for adding a regular product #}
										<select name="id" class="js-product-price-adjuster">
											{% for option in pricedOptions %}
												<option value="{{ option.id }}" data-price="{{ option.getPrice()|formatPrice }}">{{ option.name }} - {{ option.getPrice()|formatPrice }}</option>
											{% endfor %}
										</select>
									</span>
								</label>
							</p>
						{% endif %}

						{% for optionGroup in product.optionGroups %}
							<p>
								<label class="select-wrapper"><span class="label">{{ optionGroup.name }}</span> <span class="field"><select name="options[{{ optionGroup.id }}]">
									{% for option in optionGroup.getOptions() %}
										<option value="{{ option.id }}">{{ option.name }}</option>
									{% endfor %}
								</select></span></label>
							</p>
						{% endfor %}

						{% set stock = product.getAvailableStock() %}
						{% if stock > 0 %}
							{% if showQuantityField %}
								<p class="field-wrapper">
									<label>
										<span class="label">Quantity</span> <input class="field" type="number" name="quantity" value="1" max="{{ stock }}" min="1" />
									</label>
									<span class="append-errors"></span>
								</p>
							{% else %}
								<input type="hidden" name="quantity" value="1" />
							{% endif %}
							{% include 'forms/submit-button.twig' with {'label': 'Add to Cart'} %}
						{% else %}
							<p><strong>Out of Stock</strong></p>
						{% endif %}

					</form>
				{% endif %}
			</div>
		</div>
	</div>

	{% set associated = product.getAssociatedProductCategories() %}
	{% if associated %}
		<h2>You may also be interested in &hellip;</h2>
		<ul class="product-links">
			{% for associatedProduct in associated %}
				{% include 'products/sections/product-summary.twig' with {'product': associatedProduct.to.product } only %}
			{% endfor %}
		</ul>
	{% endif %}

{% endblock %}
