<div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12 mt-4">
	<div class="featured-product">
		<div class="product-img">
			<a href = "{{ product.path }}">
			{% set images = product.getVisibleImages() %}
			{% if images %}
				{{ images[0].thumbnail.tag('', product.name)|raw }}
			{% endif %}
			</a>
		</div>
		<div class="product-info">
			<div class="product-title ps-3 ps-md-4">
				<h5>{{ product.name }}</h5>
				<span>Premium - {{product.weight}}g</span>
			</div>
			<div class="product-price">
				<span>{{ product.getPrice()|formatPrice }}</span>
				{% set stock = product.getAvailableStock() %}
					{% if stock > 0 %}
<input class="field form-control inputquantitysummary" data-id="{{ product.getLineItemGeneratorIdentifier() }}" type="number" name="quantity" class="form-control" value="1" max="{{ stock }}" min="1"/>

						<span class="append-errors"></span>
						
					{% endif %}
				{% if 'CART' is enabled and product.getAvailableStock() > 0 %}
<a class="button js-add-to-cart-link btn btn-primary add-to-cart-category {% if product.setminQuantity %} minquantity {% endif %}" {% if product.setminQuantity %} data-minqunatity={{product.minQuantity}} {% endif %} id="{{ product.getLineItemGeneratorIdentifier() }}-cart" data-quantity = 1  href="/cart/action/add/{{ controller.callStatic('Products\\Product', 'getClassLineItemGeneratorIdentifier') }}/{{ product.getLineItemGeneratorIdentifier() }}/1">





						Add to Cart
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
