{% extends 'pages/page.twig' %}
{% block recipe %}

{% if recipesingle %}
    {# {{dump(recipesingle)}} #}
<!--=================================
        Recipes -->
<section class="space-ptb bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="section-title">
					<h2>{{recipesingle.title}}</h2>
				</div>
			</div>
			<div class="col-md-4">
				<div class="d-flex justify-content-md-end">
<a class="btn btn-primary" href="https://www.meat.adev.co.nz/recipes">BACK</a>

				</div>
			</div>
		</div>

		<div class="row align-items-center mt-5">
			<div class="col-lg-9">
				<img class="img-fluid" src="{{recipesingle.image.getLink()}}">
			</div>
			<div class="col-lg-3">
				<div class="premium-quality-info" style="background-image: url(/theme/images/premium-quality-info-bg.jpg); background-size: cover;">
					<h2 class="ingredients-title text-white mb-4 mb-lg-5">Ingredients</h2>
					{# <ul class="list-item text-white mb-0">
						<li>300g Lorem ipsum dolor sit amet, consectetur
						</li>
						<li>1 cup of Adipiscing elit, sed do eiusmod tempor
						</li>
						<li>2 cans of Incididunt ut labore et dolore magna
						</li>
						<li>100g Lorem ipsum dolor sit amet, consectetur
						</li>
						<li>300g Adipiscing elit, sed do eiusmod tempor
						</li>
						<li>120g ncididunt ut labore et dolore magna aliqua
						</li>
						<li>300g Lorem ipsum dolor sit amet, consectetur
						</li>
						<li>1 cup of Adipiscing elit, sed do eiusmod
						</li>
						<li>2 cans of Incididunt ut labore et
						</li>
					</ul> #}
					<div class="list-item text-white mb-0">
					{{recipesingle.ingredients|raw}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================================
        Recipes -->
<!--=================================
        Step -->
<section class="space-pb bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="recipe-step pe-0 pe-lg-5">
					{# <div class="mb-4 mb-lg-5">
						<div class="section-title">
							<span class="text-primary">Step 1</span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</p>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>
					</div>
					<div class="mb-4 mb-lg-5">
						<div class="section-title">
							<span class="text-primary">Step 2</span>
						</div>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto icabo.
						</p>
					</div>
					<div class="section-title">
						<span class="text-primary">Step 3</span>
					</div>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
					</p> #}

					{{recipesingle.steps|raw}}

				</div>
			</div>
			<div class="col-lg-4 pt-5 pt-lg-0">
				<img class="img-fluid mb-5" src="{{recipesingle.image1.getLink()}}">
				<img class="img-fluid" src="{{recipesingle.image2.getLink()}}">
			</div>
		</div>
	</div>
</section>
<!--=================================
        Step -->


{% else %}
      <!--=================================
        Recipes -->
        <section class="space-ptb bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                                <h2>Recipes</h2>
                            </div>
                            <form action="/recipes" name="catfilter">
                            <div class="recipe-filter d-flex align-items-center">
                            
                                <span>Filter by</span>
                                <select class="form-select" name = "cat" >
                                  {% for cat in category %}
                                    <option value={{ cat.id }} {% if curcat == cat.id  %} selected {% endif  %}>{{ cat.recipeType }}</option>
                                 {% endfor %}
                                </select>
                                <input type="submit"  class="btn btn-primary" value="Filter" />
                           
                            </div>
                             </form>
                    </div>
                </div>
                {% set count = 0 %}
                {% for recipe in recipes %}
                    {%  if count % 2 == 0   %}
                    <div class="row align-items-center mt-5">
                        <div class="col-lg-4">
                            <div class="testimonials-info">
                                <div class="section-title">
                                    <h2 class="text-white">{{recipe.title}}</h2>
                                        <p class="text-white">{{recipe.content|raw}}</p>
                                    <a class="btn mt-3" href="?id={{recipe.id}}">Find Out More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <img class="img-fluid" src="{{recipe.image.getLink()}}">


                        </div>
                    </div>
                    {%  else %}
                    <div class="row align-items-center mt-5">
                        <div class="col-lg-8">
                            <img class="img-fluid" src="{{recipe.image.getLink()}}">

                        </div>
                        <div class="col-lg-4">
                            <div class="premium-quality-info">
                                <div class="section-title">
                                     <h2 class="text-white">{{recipe.title}}</h2>
                                        <p class="text-white">{{recipe.content|raw}}</p>

                                    <a class="btn mt-3" href="?id={{recipe.id}}">Find Out More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% set count = count+ 1 %}
                {% endfor %}
            </div>
        </section>
        <!--=================================
        Recipes -->
{% endif %}

{% endblock %}