{% extends 'pages/page.twig' %}
{% block recipe %}
      <!--=================================
        Recipes -->
        <section class="space-ptb bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                                <h2>Recipes</h2>
                            </div>
                            <form action="/recipes" name="catfilter">
                            <div class="recipe-filter d-flex align-items-center">
                            
                                <span>Filter by</span>
                                <select class="form-select" name = "cat" >
                                  {% for cat in category %}
                                    <option value={{ cat.id }} {% if curcat == cat.id  %} selected {% endif  %}>{{ cat.recipeType }}</option>
                                 {% endfor %}
                                </select>
                                <input type="submit"  class="btn btn-primary" value="Filter" />
                           
                            </div>
                             </form>
                    </div>
                </div>
                {% set count = 0 %}
                {% for recipe in recipes %}
                    {%  if count % 2 == 0   %}
                    <div class="row align-items-center mt-5">
                        <div class="col-lg-4">
                            <div class="testimonials-info">
                                <div class="section-title">
                                    <h2 class="text-white">{{recipe.title}}</h2>
                                        <p class="text-white">{{recipe.content|raw}}</p>
                                    <a class="btn mt-3" href="#">Find Out More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <img class="img-fluid" src="{{recipe.image.getLink()}}">


                        </div>
                    </div>
                    {%  else %}
                    <div class="row align-items-center mt-5">
                        <div class="col-lg-8">
                            <img class="img-fluid" src="{{recipe.image.getLink()}}">

                        </div>
                        <div class="col-lg-4">
                            <div class="premium-quality-info">
                                <div class="section-title">
                                     <h2 class="text-white">{{recipe.title}}</h2>
                                        <p class="text-white">{{recipe.content|raw}}</p>

                                    <a class="btn mt-3" href="#">Find Out More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% set count = count+ 1 %}
                {% endfor %}
            </div>
        </section>
        <!--=================================
        Recipes -->
{% endblock %}