{% extends 'pages/page.twig' %}
{% block recipe %}

{% if recipesingle %}
    {# {{dump(recipesingle)}} #}
<!--=================================
        Recipes -->
<section class="space-ptb bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="section-title">
					<h2>{{recipesingle.title}}</h2>
				</div>
			</div>
			<div class="col-md-4">
				<div class="d-flex justify-content-md-end">
<a class="btn btn-primary" href="https://www.meat.adev.co.nz/recipes">BACK</a>

				</div>
			</div>
		</div>

		<div class="row align-items-center mt-5">
			<div class="col-lg-8">
				<img class="img-fluid" src="{{recipesingle.image.getLink()}}">
			</div>
			<div class="col-lg-4">
				<div class="premium-quality-info" style="background-image: url(/theme/images/premium-quality-info-bg.jpg); background-size: cover;">
					<h2 class="ingredients-title text-white mb-4 mb-lg-5">Ingredients</h2>
					<div class="list-item text-white mb-0">
					{{recipesingle.ingredients|raw}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=================================
        Recipes -->
<!--=================================
        Step -->
<section class="space-pb bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="recipe-step pe-0 pe-lg-5">

					{{recipesingle.steps|raw}}

				</div>
			</div>
			<div class="col-lg-4 pt-5 pt-lg-0">
					{%	if recipesingle.image1.getLink() %}
						<img class="img-fluid mb-5" src="{{recipesingle.image1.getLink()}}">
					{% endif %}
					{%	if recipesingle.image2.getLink() %}
						<img class="img-fluid" src="{{recipesingle.image2.getLink()}}">
					{% endif %}
			</div>
		</div>
	</div>
</section>
<!--=================================
        Step -->


{% else %}
      <!--=================================
        Recipes -->
        <section class="space-ptb bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                                <h2>Recipes</h2>
                            </div>
                            <form action="/recipes" name="catfilter">
                            <div class="recipe-filter d-flex align-items-center">

                                <span>Filter by</span>
                                <select class="form-select" name = "cat" >
                                  {% for cat in category %}
                                    <option value={{ cat.id }} {% if curcat == cat.id  %} selected {% endif  %}>{{ cat.recipeType }}</option>
                                 {% endfor %}
                                </select>
                                <input type="submit"  class="btn btn-primary" value="Filter" />

                            </div>
                             </form>
                    </div>
                </div>
                {% set count = 0 %}
                {% for recipe in recipes %}
                    {%  if count % 2 == 0   %}
                    <div class="row align-items-center mt-5">
                        <div class="col-lg-4">
                            <div class="testimonials-info">
                                <div class="section-title">
                                    <h2 class="text-white">{{recipe.title}}</h2>
                                        <p class="text-white">{{recipe.content|raw}}</p>
                                    <a class="btn mt-3" href="?id={{recipe.id}}">Find Out More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <img class="img-fluid" src="{{recipe.image.getLink()}}">


                        </div>
                    </div>
                    {%  else %}
                    <div class="row align-items-center mt-5">
                        <div class="col-lg-8">
                            <img class="img-fluid" src="{{recipe.image.getLink()}}">

                        </div>
                        <div class="col-lg-4">
                            <div class="premium-quality-info">
                                <div class="section-title">
                                     <h2 class="text-white">{{recipe.title}}</h2>
                                        <p class="text-white">{{recipe.content|raw}}</p>

                                    <a class="btn mt-3" href="?id={{recipe.id}}">Find Out More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% set count = count+ 1 %}
                {% endfor %}
            </div>
        </section>
        <!--=================================
        Recipes -->
{% endif %}

{% endblock %}
