{% extends 'pages/page.twig' %}

{% block content_wrapper %}
<!--=================================
        Contact -->
<section class="contact space-ptb bg-light">
	<div class="container">
		<div class="section-title">
			<h2>Contact Us</h2>
		</div>
		<div class="row">
			<div class="col-xl-3 col-lg-12">
				<div class="meet-our-meat">
					<span class="contact-title text-primary mb-3">Meet Our Meat</span>
					<p class="mb-3">Email: {{ config.email }}</p>
					<ul class="social-icons list-unstyled list-inline mb-0">
						<li class="list-inline-item">
							<a href="#">
								<i class="fa-brands fa-facebook-f"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<i class="fa-brands fa-twitter"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<i class="fa-brands fa-instagram"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xl-4 col-lg-12 mt-5 mt-xl-0">
				<span class="contact-title text-primary mb-3">{{ contactForm.name }}</span>
				<div class="form">	
					{{ contactForm.outputForm()|raw }}

				</div>
			</div>
			<div class="col-xl-5 col-lg-12 pt-5 pt-xl-0">
				<img class="img-fluid" src="/theme/images/contact.jpg">
			</div>
		</div>
	</div>
</section>
<!--=================================
        Contact -->

{% endblock %}

{% block content %}
HEllo

	<div class="columns">
		{{ block('content_title') }}
		<div class="col-2">
			{{ block('page_content') }}
			<p>{{ config.address|nl2br }}</p>
			<p>
				Phone: <a href="tel:{{ config.getPhoneDigits() }}">{{ config.phone }}</a><br />
				Email: <a href="mailto:{{config.email }}">{{ config.email }}</a>
			</p>
			{{ page.image.tag('', page.imageDescription)|raw }}
		</div>
		<div class="col-2">
			<h2>{{ contactForm.name }}</h2>
			{{ contactForm.outputForm()|raw }}
		</div>
	</div>
{% endblock %}